<p-dialog #AgendaPopupComponent [(visible)]="modalDialog" [style]="{width: '450px'}" header="Dados da Agenda" [modal]="true" class="p-fluid" [closable]="false">
    <ng-template pTemplate="content">
        <div class="field" [hidden]="true">
            <label for="ID">Código</label>
            <input type="text" pInputText [(ngModel)]="agenda.ID" disabled/>
        </div>
        <div class="field">
            <label for="nome" class="obrig">Nome *</label>
            <input type="text" pInputText [(ngModel)]="agenda.Nome" (ngModelChange)="onChange($event)" autocomplete="off" autofocus selectedFocus/>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText [(ngModel)]="agenda.Email" (ngModelChange)="onChange($event)" autocomplete="off" selectedFocus/>
        </div>
        <div class="field">
            <label for="telefone" class="obrig">Telefone *</label>
            <input type="text" pInputText [(ngModel)]="agenda.Telefone" (ngModelChange)="onChange($event)" autocomplete="off" selectedFocus/>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveData()" *ngIf="blnNgModelChanged"></button>
    </ng-template>
</p-dialog>
