<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Manutenção de Contas Diversas</h5>
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Incluir" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Recarregar" icon="pi pi-refresh" class="p-button-warning mr-2" (click)="loadGrid()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
			<p-table #dt1 [value]="agendas" dataKey="ID" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-sm" [paginator]="true" [globalFilterFields]="['Nome', 'Email', 'Telefone']" responsiveLayout="scroll"  currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100]" [showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Limpar Filtro" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt1.filterGlobal(filter.value, 'contains')" placeholder="informe para buscar" class="w-full"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th class="thdarkgray">
							<div class="flex justify-content-between align-items-center">
								Nome
								<p-columnFilter type="text" field="Nome" display="menu" placeholder="localizar por nome"></p-columnFilter>
							</div>
                        </th>
                        <th class="thdarkgray">
                            <div class="flex justify-content-between align-items-center">
								Email
								<p-columnFilter type="text" field="Email" display="menu" placeholder="localizar por email"></p-columnFilter>
							</div>
                        </th>
                        <th class="thdarkgray">
                            <div class="flex justify-content-between align-items-center">
								Telefone
								<p-columnFilter type="text" field="Telefone" display="menu" placeholder="localizar por telefone"></p-columnFilter>
							</div>
						</th>
						<th class="thdarkgray">
							<div class="flex justify-content-between align-items-center">
								Funções
							</div>
						</th>
					</tr>
				</ng-template>
                <ng-template pTemplate="body" let-agendas>
					<tr>
						<td>
							{{agendas.Nome}}
						</td>
                        <td>
							{{agendas.Email}}
						</td>
                        <td>
							{{agendas.Telefone}}
						</td>
						<td style="width: 25px;">
                            <div class="flex center">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" pTooltip="Alterar registro" tooltipPosition="left" (click)="loadAndOpen(agendas.Id);"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" pTooltip="Excluir registro" tooltipPosition="left" (click)="deleteData(agendas.Id)"></button>
                            </div>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="12">Nenhum registro localizado</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="12">Carregando dados ... por favor aguarde ...</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>
    </div>
</div>

<AgendaPopupComponent #AgendaPopupComponent (loadGrid)="loadGrid()"></AgendaPopupComponent>
