<style>
    .progress-spinner {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10001!important;
    }

    .progress-spinner:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: rgba(0,0,0,0.53); */
        background-color: transparent;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        /* border: 8px solid #fff; */
        border: 8px solid #0d6efd;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        /* border-color: #fff transparent transparent transparent; */
        border-color: #0d6efd transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="progress-spinner" *ngIf="display">
    <p-progressSpinner>
        <div>
            <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; color: #0d6efd; background-color: transparent; border-radius: 25px;">
                <br /><br /><br />
                <div class="lds-ring" style="margin-top: -15px;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <!-- <label style="display: block; font-size: 18px; font-weight: 300;">{{loadingMessage}}</label>
                <br />
                <label style="display: block; font-size: 12px; font-weight: 300; margin-top: -10px;">{{loadingMessageWaiting}}</label> -->
            </div>
            <div style="background: transparent; opacity: 0; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
        </div>
    </p-progressSpinner>
</div>
